/* body */

body{
    font-family:"Montserrat" ;
}

/* title */

#title{
    background-color: #ff4c68;
    color: #fff;
}

/* headers */


/* h1 */

h1{
font-family: "Montserrat";
font-weight: 900%;
font-size: 3.2rem;
line-height: 1.5;
}

/* h2 */

h2{
    font-family:"Montserrat" ;
    font-size: 2.5rem;
    line-height: 1.5;
}

/* h3 */

h3{
    font-family: "Montserrat" ;
}
 
/* p */

p{
    color: #8f8f8f;
    font-weight: 10;
    font-size: 15px;
}
/* container */

.container-fluid{
    padding: 3% 15% 7%;}

/* navbar-item*/

 .navbar-brand{
font-family: "Ubuntu";
font-size: 2.5rem;
font-weight: bold;
}

.navbar{
    padding: 0 0 4.5rem;
}

.nav-item{
    padding: 0px 18px;
}

.nav-link{
    font-size: 1.2rem;
    font-family: 'Monstserrat-light';
}

/* Download-button */

.Download-button{
    margin: 5% 3% 5% 0;
}
.Download-button2{
    margin: 5% 3% 5% 0;
}


/* title-image */

.title-image{
    width: 60%;
    transform: rotate(25deg);
    position: absolute;
    right: 30%;
}

/* features section */

#features{
padding: 7% 14%;
background-color: #fff;
position: relative;
}

.features-box{
    text-align: center;
    padding: 5%;
}

/* icon  */

.icon{
    color: #ef8172;
    margin-bottom: 1rem;
}

.icon:hover {
    color: #ff4c68;
}

/* testimonial section */

#testimonials{
    text-align: center;
    background-color: #ef8172;
    color: #fff;
}

.testimonial-image{
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

.carousel-item{
    padding: 7% 15%;

}

#press{
    background-color: #ef8172;
text-align: center;
padding-bottom: 3%;
}

.press-logo{
    width: 15%;
    margin: 20px 20px 50px ;
}

#pricing{
padding: 100px;
}
.pricing-column{
    padding: 3% 2%;
    text-align: center;
}

/* cta section */

#cta{
background-color:#ff4c68 ;
color: #fff;
padding: 7% 15%;
text-align: center;
}

.cta-heading{
    font-family: "Montserrat";

}

/* footer */

#footer{
   padding: 7% 15%;
    text-align: center;
}

.social-icon{
    margin: 20px 10px;
}

@media(max-width: 1028px){
    
    #title{
        text-align: center;
    }

    .title-image{ 

    position: static;
    transform: rotate(0);
}
}
